extend ./base

include ../_modules/pug-components/panel/panel

block append config
  - var page= '';
  - var admin= false;
  - var management= false;

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
        -
            var btnAttrs = {
                'type':'button',
                'data-toggle':'collapse',
                'data-target':'#navbarColor01',
                'aria-controls':'navbarColor01',
                'aria-expanded':'false',
                'aria-label':'Toggle navigation'
            };
        button.navbar-toggler&attributes(btnAttrs)
            span.navbar-toggler-icon
        #navbarColor01.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item(class={"active":management})
                    a.nav-link(href= baseUrl + 'pages/gestion/busqueda-general') Gestión documental 
                    if management
                      span.sr-only (current)
                li.nav-item(class={"active":admin})
                    a.nav-link(href = baseUrl + 'pages/administracion/lista-usuarios') Administración
                    if admin
                      span.sr-only (current)
            ul.navbar-nav.my-2.my-lg-0
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  +icons({icon:"circle-white"})
                  | Andres Méndez
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='#') Configuración
                  .dropdown-divider
                  a.dropdown-item(href='') Cerrar sesión
    //- Provides layout level markup
    .layout-wrapper.common.py-5.px-3(id=page)
        block common
    +panel({trigger:false,wrapper:false})(class="bg-light")
      .bg-white
        a(href=baseUrl)
          img.d-block.mx-auto(src=baseUrl+"assets/images/post_escudo-oficial-2016.jpg", alt="" height="42")
      block menu-secondary

block append stylesheets
  if config.environment == "DEVELOPMENT"
    link(href=baseUrl + "assets/styles/main-development.css")

block append lib-scripts
  script.
    var baseUrl = '#{baseUrl}';

block append scripts
  script(src=baseUrl + "assets/scripts/loggedin.js")
  if config.environment == "DEVELOPMENT"
    script(src=baseUrl + "assets/scripts/main-development.js")
